on:
  workflow_call:
    inputs:
      head-sha:
        description: The SHA of the head commit.
        required: true
        type: string
      paths-json:
        description: A JSON list of package paths.
        required: true
        type: string
      node-version:
        description: The version of Node to use.
        default: "22"
        type: string
      python-version:
        description: The version of Python to use.
        default: "3.13"
        type: string
      go-version:
        description: The version of Go to use.
        default: "^1.24"
        type: string
      timeout-minutes:
        description: The maximum number of minutes to run the job.
        default: 5
        type: number
      expect-failure:
        description: Whether to expect this to fail.
        default: false
        type: boolean

jobs:
  lint:
    if: inputs.paths-json != '[]'
    runs-on: ubuntu-latest
    timeout-minutes: ${{ inputs.timeout-minutes }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.head-sha }}
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ inputs.node-version }}
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ inputs.python-version }}
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ inputs.go-version }}
      - name: Install Node lint
        run: bash .github/custard/node/lint-install.sh
      - name: Install Python lint
        run: bash .github/custard/python/lint-install.sh
      - name: Run lint
        id: lint
        continue-on-error: ${{ inputs.expect-failure }}
        # Do not use env.PATHS since it will expand the JSON contents into
        # the terminal and the quotes will be messed up.
        run: bash .github/custard/map.sh ".github/custard/run.sh lint" "$PATHS"
        env:
          PATHS: ${{ inputs.paths-json }}
      - name: Expect failure
        # Both steps.lint.conclusion and steps.lint.result will be 'success'
        # if continue-on-error is true. Only steps.lint.outcome will be 'failure'.
        # https://www.kenmuse.com/blog/how-to-handle-step-and-job-errors-in-github-actions
        if: ${{ inputs.expect-failure && steps.lint.outcome != 'failure' }}
        run: echo "This was expected to fail." && exit 1
